#list-words{
    font-family: Times New Roman, Times, serif;
}
#backgorundList {
    border: 1px solid;
    padding: 10px;
    max-width: 50%;
    height: 250px;
    margin-top: 40px;
    background-color:whitesmoke;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    background-color: #009AD5;
    top: 5%;
    left: 25%;

}

#segundos{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #3a4077;
    color: white;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

#header-logo {
    max-width: 100px;

}

header {
    background-color: blueviolet;
    padding: 0;
    margin: 0;
}


body {
    background-image: url("/fundo.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

#digit  {
    border-top: 1px solid #575757;
    height: 50px;
    width: 51%;
    border-right: 1px solid #6b7a89;
    border-bottom: 1px solid #70869b;
    border-left: 1px solid #525a62;
    font-size: 2em;
    line-height: 1em;
    font-family: Times New Roman, Times, serif;
    color: #333;
    margin-left: 200px;
    position: absolute;
    top: 45%;
    left: 13.5%;
}

.result{
    position: absolute;
    top: 50%;
}

.resultadoDiv {
    background-color: rgb(60, 0, 77);
    opacity: 80%;
    margin: 10px;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    color: white;

}

.resultadoTitle {
    color: rgb(201, 85, 85);

}
